@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: #010a08;
  color: #d3dbdd;
  font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  z-index: 10;
}
#bg canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  user-select: none;
}
.title {
  margin-top: 20px;
  font-size: 60px;
  font-weight: 500;
}
.cards {
  width: 80vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.card {
  width: 250px;
  height: 300px;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid #d3dbdd;
  box-shadow: -5px 0px 10px #545858, 5px 0px 10px #545858;
  backdrop-filter: blur(4px);
  background: rgb(211, 219, 221, 0.15);
  transition: all 0.3s ease-out;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.card:hover {
  transform: translateY(-15px) scale(1.005) translateZ(0);
}
.card .title-card {
  font-size: 30px;
}
.card .button-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 10px;
  width: 80%;
  height: 35px;
  background: #010a08;
}
footer {
  background: rgb(211, 219, 221, 0.15);
  border: 2px solid #d3dbdd;
  box-shadow: -5px 0px 10px #545858, 5px 0px 10px #545858;
  width: 230px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}